/*
===============================================
  KNIT
  Version: 1.0
  Author: BootEx
  Author URL: http://www.ahadhossain.com
------------------------------------------------
================================================

Table of contents

  @-> Main Styles
  @-> Header Section
  @-> Hero Section 
  @-> About Section
  @-> Service Section
  @-> Resume Section
  @-> Portfolio Section
  @-> Review Section
  @-> Contact Section
  @-> Footer Section
  @-> Other Pagers
  @-> Responsive

*/

/*--------------------
  Main Styles
----------------------*/

html,
body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 600;
  color: #222;
}

p {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 28px;
  color: #999;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.spad {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  text-align: center;
  margin-bottom: 70px;
}

.section-title h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  color: #000;
}

.section-title p {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

.site-btn {
  font-size: 12px;
  background: #ffbc00;
  border: none;
  color: #fff;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 50px;
  min-width: 160px;
  cursor: pointer;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(55, 56, 56, 0.2);
  box-shadow: 0px 20px 50px 0px rgba(55, 56, 56, 0.2);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.site-btn:hover {
  color: #fff;
  background: #333;
}

/* Preloder */

#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #fff;
}

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  border: 2px solid #333;
  border-left-color: transparent;
  border-top-color: transparent;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.5s linear infinite;
}

.loader:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50%;
  border-radius: 60px;
  border: 3px solid #333;
  margin-top: -15px;
  margin-left: -15px;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ====================
  Header Section
=======================*/

.header-section {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.header-warp {
  max-width: 920px;
  height: 70px;
  padding: 0 40px;
  background: #fff;
  margin: 0 auto;
  border-radius: 2px 2px 80px 80px;
  -webkit-box-shadow: 0 7px 50px rgba(0, 0, 0, 0.15);
  box-shadow: 0 7px 50px rgba(0, 0, 0, 0.15);
}

.site-logo {
  float: left;
  height: 100%;
  padding: 5px 0;
}

.site-logo img {
  max-height: 100%;
}

.responsive-switch,
.sm-close {
  display: none;
}

.site-menu ul {
  list-style: none;
  float: right;
  padding-top: 20px;
}

.site-menu li {
  display: inline-block;
}

.site-menu li.current a:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.site-menu a {
  color: #414141;
  padding: 5px 10px;
  font-size: 15px;
  position: relative;
  margin-left: 5px;
  font-weight: 600;
}

.site-menu a:after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  left: 50%;
  bottom: -5px;
  margin-left: -3px;
  border-radius: 20px;
  background: #ffbc00;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

/* ====================
  Hero Section
=======================*/

.hero-section {
  min-height: 100%;
  height: 1100px;
  background-position: top center;
}

.hero-section {
  position: relative;
}

.hero-section.hero-style-two {
  overflow: hidden;
}

.hero-section.hero-style-two #particles {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.hero-section.hero-style-three {
  background-color: #141414;
  display: table;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-section.hero-style-three .shap-image {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  z-index: 6;
}

.hero-section.hero-style-three .shap-image img {
  position: relative;
  top: 2px;
  min-width: 100%;
}

.hero-section .typed-area {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.hero-section .typed-area h2 {
  font-size: 65px;
  font-weight: 700;
  color: #fff;
  line-height: 1.3;
  text-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.hero-section #bubble {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 5;
}

.hero-content {
  position: fixed;
  bottom: 90px;
  padding-left: 120px;
  z-index: 5;
}

.hero-content.sticky {
  position: absolute;
}

.hero-content h2 {
  font-size: 65px;
  font-weight: 700;
  color: #fff;
  line-height: 1.3;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.hero-content i {
  font-size: 70px;
  color: #ffbc00;
  padding-left: 10px;
  -webkit-animation: finger 1.5s infinite;
  animation: finger 1.5s infinite;
}

@-webkit-keyframes finger {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    opacity: .2;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes finger {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    opacity: .2;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* ====================
  About Section
=======================*/

.about-text {
  padding-top: 80px;
}

.about-text h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 5px;
}

.about-text h5 {
  font-size: 14px;
  color: #c3c3c3;
}

.about-text p span {
  color: #ffbc00;
  font-weight: 600;
}

.about-title {
  margin-bottom: 60px;
}

.single-progress-item {
  margin-bottom: 45px;
  position: relative;
}

.single-progress-item:last-child {
  margin-bottom: 0;
}

.single-progress-item p {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 7px;
  margin-bottom: 0px;
  color: #333;
}

.progress-bar-style {
  display: block;
  height: 3px;
  position: relative;
  width: 100%;
  border-radius: 25px;
}

.bar-inner {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 25px;
  background: #333;
}

.bar-inner span {
  position: absolute;
  right: 0;
  top: -20px;
  font-size: 12px;
  font-weight: 600;
  color: #ffbc00;
}

/* ====================
  Service Section
=======================*/

.service i {
  font-size: 35px;
  display: block;
  margin-bottom: 20px;
  float: left;
  width: 70px;
}

.service .service-text {
  padding-left: 70px;
}

.service h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

/* ====================
  Resume Section
=======================*/

.resume-section {
  background: #f7f7f7;
}

.resume-item {
  margin-bottom: 70px;
}

.resume-item:last-child {
  margin-bottom: 0;
}

.resume-item .resume-year {
  float: left;
  width: 170px;
  position: relative;
}

.resume-item .resume-year:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  right: 25px;
  top: 8px;
  border-radius: 20px;
  background: #ffbc00;
}

.resume-item .resume-year h2 {
  font-size: 30px;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.resume-item .resume-text {
  margin-left: 200px;
  padding-top: 2px;
}

.resume-item .resume-text h3 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 5px;
}

.resume-item .resume-text p {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 0;
}

/* ====================
  Portfolio Section
=======================*/

.portfolio-warp {
  position: relative;
}

.sp-container {
  width: 70%;
  margin-left: 15%;
  padding-left: 15px;
  padding-right: 15px;
}

.portfolio-filter {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-top: 140px;
  margin-left: -200px;
  position: absolute;
}

.portfolio-filter li {
  display: inline-block;
  margin-right: 18px;
  font-size: 13px;
  font-weight: 600;
  color: #999;
  cursor: pointer;
}

.portfolio-filter li.active {
  color: #333;
}

.work-item {
  display: block;
  margin-bottom: 30px;
  position: relative;
}

.work-item img {
  min-width: 100%;
}

.work-item:hover:after {
  opacity: .5;
  height: 100%;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -o-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.work-item:hover i {
  opacity: 1;
  -webkit-transition: all 0.3s ease .2s;
  -o-transition: all 0.3s ease .2s;
  transition: all 0.3s ease .2s;
}

.work-item:hover .work-info h3 span {
  top: 0;
  -webkit-transition: all 0.4s ease .2s;
  -o-transition: all 0.4s ease .2s;
  transition: all 0.4s ease .2s;
}

.work-item:hover .work-info p span {
  top: 0;
  -webkit-transition: all 0.4s ease .4s;
  -o-transition: all 0.4s ease .4s;
  transition: all 0.4s ease .4s;
}

.work-item:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  -o-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}

.work-item i {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
  color: #fff;
  z-index: 4;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.work-item .work-info {
  position: absolute;
  left: 40px;
  bottom: 15px;
  z-index: 2;
}

.work-item .work-info h3 {
  color: #fff;
  overflow: hidden;
}

.work-item .work-info h3 span {
  position: relative;
  top: 50px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.work-item .work-info p {
  color: #ffbc00;
  font-size: 12px;
  text-transform: uppercase;
  overflow: hidden;
}

.work-item .work-info p span {
  position: relative;
  top: 30px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/* ====================
  Review Section
=======================*/

.review-warp {
  max-width: 1500px;
  margin: 0 auto;
  background: #333;
}

.review-warp:hover .review-slider .owl-nav .owl-prev,
.review-warp:hover .review-slider .owl-nav .owl-next {
  margin: 0 20px;
  opacity: 1;
}

.review-slider .owl-nav {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -45px;
  text-align: center;
}

.review-slider .owl-nav .owl-prev,
.review-slider .owl-nav .owl-next {
  margin: 0 5px;
  color: #fff;
  opacity: 0;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.review-item {
  position: relative;
  z-index: 1;
}

.review-item p {
  font-size: 15px;
  color: #fff;
  margin-bottom: 40px;
}

.review-item h4 {
  color: #fff;
  margin-bottom: 5px;
}

.review-item span {
  color: #ffbc00;
  font-size: 12px;
}

/* ====================
  Contact Section
=======================*/

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
  width: 100%;
  border: 2px solid #ececec;
  margin-bottom: 30px;
  font-size: 13px;
  padding: 10px 15px;
  height: 55px;
}

.contact-form textarea {
  height: 150px;
}

.contact-form ::-webkit-input-placeholder {
  font-style: italic;
}

.contact-form ::-ms-input-placeholder {
  font-style: italic;
}

.contact-form :-ms-input-placeholder {
  font-style: italic;
}

.contact-form ::placeholder {
  font-style: italic;
}

#send-form.done {
  background: #0fa049;
  border-color: #0fa049;
  color: #fff;
}

#send-form.error {
  background: #e20808;
  border-color: #e20808;
  color: #fff;
}

.cont-info {
  text-align: center;
  margin-bottom: 50px;
}

.cont-info i {
  display: block;
  font-size: 35px;
  margin-bottom: 15px;
}

.cont-info a,
.cont-info span {
  color: #333;
  font-size: 15px;
  font-weight: 600;
}

.cont-info a {
  text-decoration: underline;
}

.cont-info p {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 0;
}

/* ====================
  Footer Section
=======================*/

.footer-section {
  background-position: center -5px;
  background-color: #111111;
  text-align: center;
}

.social-links {
  margin-bottom: 25px;
}

.social-links a {
  display: inline-table;
  text-align: center;
  height: 35px;
  width: 35px;
  color: #fff;
  margin: 0 4px;
  border-radius: 50%;
  font-size: 13px;
}

.social-links a i {
  display: table-cell;
  vertical-align: middle;
}

.social-links a.facebook {
  background: #2D5DA1;
}

.social-links a.twitter {
  background: #1AB1E5;
}

.social-links a.behance {
  background: #2A71F3;
}

.social-links a.dribbble {
  background: #DF7EA5;
}

.copyright {
  color: #666;
  margin-bottom: 0;
  font-size: 14px;
}

/* ====================
  Other Pages
=======================*/

.portfolio-details {
  padding-top: 200px;
  padding-bottom: 100px;
  text-align: center;
}

.portfolio-details h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
}

.portfolio-details p {
  font-size: 23px;
  font-weight: 300;
  line-height: 1.6;
  padding: 0 45px;
  margin-bottom: 30px;
}

.portfolio-details figure img {
  margin-bottom: 30px;
}

.portfolio-details .work-info-list {
  list-style: none;
}

.portfolio-details .work-info-list li {
  margin-right: 20px;
  display: inline-block;
  font-size: 16px;
  color: #999;
  margin-bottom: 10px;
}

.portfolio-details .work-info-list li span {
  font-weight: 600;
  color: #333;
  margin-right: 5px;
}

/* ====================
  Responsive
=======================*/

/*--------------------
  Responsive
----------------------*/

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-text {
    padding-top: 0;
  }
  .about-title {
    margin-bottom: 30px;
  }
  .single-progress-item {
    margin-bottom: 35px;
  }
  .sp-container {
    width: 100%;
    margin-left: 0;
  }
  .portfolio-filter {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-top: 0;
    margin-left: 0;
    position: relative;
    padding-bottom: 25px;
  }
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-section {
    height: 900px;
  }
  .hero-content {
    padding-left: 70px;
  }
  .hero-content h2,
  .hero-section .typed-area h2 {
    font-size: 55px;
  }
  .about-text {
    padding-top: 40px;
  }
  .sp-container {
    width: 100%;
    margin-left: 0;
  }
  .portfolio-filter {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-top: 0;
    margin-left: 0;
    position: relative;
    padding-bottom: 25px;
  }
  .portfolio-details p {
    padding: 0 15px;
    font-size: 20px;
  }
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
  .responsive-switch {
    display: block;
    float: right;
    font-size: 26px;
    padding-top: 13px;
    padding-right: 12px;
    cursor: pointer;
  }
  .sm-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 50%;
    text-align: center;
    padding-top: 9px;
    cursor: pointer;
    z-index: 9;
    opacity: 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .site-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: table;
    background: #fff;
    z-index: 999;
    opacity: 0;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.4s ease 0.3s;
    -o-transition: all 0.4s ease 0.3s;
    transition: all 0.4s ease 0.3s;
  }
  .site-menu.active {
    opacity: 1;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .site-menu.active ul {
    top: 0;
    opacity: 1;
    -webkit-transition: all 0.3s ease 0.4s;
    -o-transition: all 0.3s ease 0.4s;
    transition: all 0.3s ease 0.4s;
  }
  .site-menu.active .sm-close {
    opacity: 1;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
    -webkit-transition: all 0.3s ease 0.4s;
    -o-transition: all 0.3s ease 0.4s;
    transition: all 0.3s ease 0.4s;
  }
  .site-menu ul {
    display: table-cell;
    vertical-align: middle;
    float: none;
    text-align: center;
    position: relative;
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .site-menu li {
    display: block;
  }
  .site-menu a {
    font-size: 25px;
    padding: 0px 4px;
    margin-left: 0;
    margin-bottom: 5px;
    display: inline-block;
  }
  .site-menu a:after {
    width: 100%;
    left: 2px;
    bottom: 6px;
    margin-left: -3px;
    z-index: -1;
  }
  .hero-section {
    height: 100%;
  }
  .hero-content {
    position: absolute;
    padding-left: 50px;
    bottom: 20px;
  }
  .hero-content h2,
  .hero-section .typed-area h2 {
    font-size: 45px;
  }
  .hero-content i {
    font-size: 60px;
  }
  .about-text {
    padding-top: 30px;
  }
  .about-title {
    margin-bottom: 35px;
  }
  .resume-item .resume-year {
    float: none;
    width: auto;
    display: inline-block;
    padding-bottom: 20px;
  }
  .resume-item .resume-year:after {
    left: auto;
    top: auto;
    width: 100%;
    height: 10px;
    left: 0;
    bottom: 23px;
  }
  .resume-item .resume-text {
    margin-left: 0;
  }
  .sp-container {
    width: 80%;
    margin-left: 10%;
  }
  .portfolio-filter {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-top: 0;
    margin-left: 0;
    position: relative;
    padding-bottom: 25px;
  }
  .portfolio-details {
    padding-top: 200px;
  }
  .portfolio-details p {
    padding: 0 15px;
    font-size: 18px;
  }
}

/* small Mobile :320px. */

@media only screen and (max-width: 479px) {
  .header-warp {
    height: 55px;
    padding-top: 5px;
  }
  .responsive-switch {
    padding-top: 4px;
  }
  .hero-content {
    padding-left: 30px;
  }
  .hero-content h2,
  .hero-section .typed-area h2 {
    font-size: 26px;
  }
  .hero-content i {
    font-size: 40px;
  }
  .hero-section.hero-style-three .shap-image img {
    top: 1px;
  }
  .about-text h2 {
    font-size: 33px;
  }
  .resume-item .resume-text h3 {
    font-size: 18px;
  }
  .sp-container {
    width: 100%;
    margin-left: 0;
  }
  .work-item .work-info h3 {
    font-size: 22px;
  }
  .portfolio-details {
    padding-top: 130px;
  }
  .portfolio-details h2 {
    font-size: 30px;
  }
  .work-item .work-info {
    left: 30px;
  }
}