@font-face {
    font-family: 'vazir-font';
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eott?#iefix') format('embedded-opentype'),
        url('../fonts/Vazir.woff') format('woff'),
        url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    direction: rtl;
}

body{
    font-family: vazir-font;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../11.jpg');
}

.main-color{
    color: #f1c40f;
}

.main-bg{
    background: #f1c40f !important;
}

.my-md-font{
    font-size: 20px;
}

.my-sm-font{
    font-size: 12px !important;
}

.font-bld{
    font-weight: bold;
}

.dir-r{
    direction: rtl;
}

input:focus{
    border-bottom: 1px solid #f1c40f !important;
    -webkit-box-shadow: 0 1px 0 0 #f1c40f !important;
    box-shadow: 0 1px 0 0 #f1c40f !important;
}

textarea:focus{
    border-bottom: 1px solid #f1c40f !important;
    -webkit-box-shadow: 0 1px 0 0 #f1c40f !important;
    box-shadow: 0 1px 0 0 #f1c40f !important;
}

textarea{
  color:#fff;
}

.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label,
.input-field input[type=number]:focus + label {
    color: #f1c40f !important;
   }

input[type=text],input[type=number]{
    color: white;
}

input{
    border-bottom: 1px solid #d3ac0c !important;
}

#movie-info{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #141414;
    border-radius: 5px;
}

.flashit{
    color:#fffff;
      -webkit-animation: flash linear 3s infinite;
      animation: flash linear 3s infinite;
  } 
  @-webkit-keyframes flash {
      0% { opacity: 1; } 
      50% { opacity: .5; } 
      100% { opacity: 1; }
  }
  @keyframes flash {
      0% { opacity: 1; } 
      50% { opacity: .1; } 
      100% { opacity: 1; }
  }
  
  .dropdown-content li>span {
    color: #000 !important;
  }
  
  .dropdown-content li>a {
    color: #000 !important;
  }
  
  .select-content li>span {
    color: #000 !important;
  }
  
  .select-content li>a {
    color: #000 !important;
  }

  
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav .sidenav-item {
    text-decoration: none;
    font-size: 20px;
    text-align: right;
    color: #141414;
    background: #f1c40f;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #141414;
    transition: .5s;
  }

  .sidenav-item:hover{
    background: #202020;
    color: #f1c40f;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
    font-weight: bold;
    background: transparent;
    color: #d3ac0c;
    cursor: pointer !important;
  }

  nav .material-icons{
    font-size: 35px !important;
  }

  [type="radio"]:checked+label::after,
  [type="radio"].with-gap:checked+label::after,
  [type="checkbox"]:checked+label::after,
  [type="checkbox"].with-gap:checked+label::after {
    background-color: #f1c40f !important;
  }

  [type="radio"]:checked+label::after,
  [type="radio"].with-gap:checked+label::before,
  [type="radio"].with-gap:checked+label::after,
  [type="checkbox"]:checked+label::after,
  [type="checkbox"].with-gap:checked+label::before,
  [type="checkbox"].with-gap:checked+label::after {
    border: 2px solid #f1c40f !important;
  }

  /* Start Form Wizard */

  .wizard,
  .tabcontrol {
    display: block;
    width: 100%;
    overflow: hidden;
  }

  .wizard a,
  .tabcontrol a {
    outline: 0;
  }

  .wizard ul,
  .tabcontrol ul {
    list-style: none !important;
    padding: 0;
    margin: 0;
  }

  .wizard ul>li,
  .tabcontrol ul>li {
    display: block;
    padding: 0;
  }

  /* Accessibility */
  .wizard>.steps .current-info,
  .tabcontrol>.steps .current-info {
    position: absolute;
    right: -999em;
  }

  .wizard>.content>.title,
  .tabcontrol>.content>.title {
    position: absolute;
    right: -999em;
  }

  .wizard>.steps {
    position: relative;
    display: block;
    width: 100%;
  }

  .wizard.vertical>.steps {
    display: inline;
    float: right;
    width: 30%;
  }

  .wizard>.steps .number {
    font-size: 1.429em;
  }

  .wizard>.steps>ul>li {
    width: unset;
  }

  .wizard>.steps>ul>li,
  .wizard>.actions>ul>li {
    float: right;
  }

  .wizard.vertical>.steps>ul>li {
    float: none;
    width: 100%;
  }

  .wizard>.steps a,
  .wizard>.steps a:hover,
  .wizard>.steps a:active {
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .wizard>.steps .disabled a,
  .wizard>.steps .disabled a:hover,
  .wizard>.steps .disabled a:active {
    background: #eee;
    color: #aaa;
    cursor: default;
  }

  .wizard>.steps .current a,
  .wizard>.steps .current a:hover,
  .wizard>.steps .current a:active {
    background: #f1c40f;
    color: #000;
    cursor: default;
  }

  .wizard>.steps .done a,
  .wizard>.steps .done a:hover,
  .wizard>.steps .done a:active {
    background: #fff0b5;
    color: #000;
  }

  .wizard>.steps .error a,
  .wizard>.steps .error a:hover,
  .wizard>.steps .error a:active {
    background: #ff3111;
    color: #fff;
  }

  .wizard>.actions {
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
  }

  .wizard.vertical>.actions {
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
  }

  .wizard>.actions>ul {
    display: inline-block;
    text-align: right;
  }

  .wizard>.actions>ul>li {
    margin: 0 0.5em;
  }

  .wizard.vertical>.actions>ul>li {
    margin: 0 0 0 1em;
  }

  .wizard>.actions a,
  .wizard>.actions a:hover,
  .wizard>.actions a:active {
    background: #f1c40f;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .wizard>.actions .disabled a,
  .wizard>.actions .disabled a:hover,
  .wizard>.actions .disabled a:active {
    background: #eee;
    color: #aaa;
  }

  /* End Form Wizard */

/* checkbox and radio rtl */
[type="checkbox"]+label::before,
[type="checkbox"]:not(.filled-in)+label::after {
  right: 0;
}

[type="checkbox"]+label {
  padding-right: 26px;
}

[type="checkbox"]:checked+label::before {
  right: 8px;
  left: 0;
}

.filled-in[type="checkbox"]:checked+label::before {
  right: 9px;
  left: unset;
}

.filled-in[type="checkbox"]:checked+label::after {}

.filled-in[type="checkbox"]+label::before,
.filled-in[type="checkbox"]+label::after {
  right: -1px;
}

.filled-in[type="checkbox"]:not(:checked)+label::before {
  right: 10px;
}

[type="radio"]:not(:checked)+label {
  padding-right: 26px;
}

[type="radio"]:checked+label {
  padding-right: 26px;
}

[type="radio"]+label::before,
[type="radio"]+label::after {
  right: 0;
  left: unset;
}

label::before,
[type="radio"]+label::after {
  right: 0;
  left: unset;
}

.filled-in[type="checkbox"]+label::before, .filled-in[type="checkbox"]+label::after {
    right: -10px;
}

.number{
  display: none !important;
}

.card-image img{
  min-height: 450px !important;
}

.card-title{
  width: 100%;
  background: rgba(0, 0, 0, .8)
}

.my-desc{
  text-align: justify;
  direction: rtl;
}

.history-item {
  font-size: 18px !important;
}

.my-image {
  min-height: 190px;
  object-fit: cover;
  position: relative;
}

.my-image-cap{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3 !important;
}

[class^='imghvr-'],
[class*=' imghvr-'] {
  background-color: #f1c40f !important;
}

[class*=" imghvr-"] figcaption, [class^=imghvr-] figcaption {
  background-color: #f1c40f !important;
  color: #000 !important;
}

[class*=" imghvr-shutter-in-"]:after,
[class*=" imghvr-shutter-in-"]:before,
[class^=imghvr-shutter-in-]:after,
[class^=imghvr-shutter-in-]:before {
  background-color: #f1c40f !important;
}

.select2-container--below{
  text-align: right !important;
  float: right !important;
}

.select2-test-5t-container{
  padding-right : 10px !important;
}

.select2-selection__clear{
  padding-left : 10px !important;
  float: right !important;
}

.select2-results__options{
  text-align: right !important;
}

.select2-selection__rendered{
  font-family: vazir-font !important;
}
.select2-container {
  width: 100% !important;
}

.select2-container--material {
  width: 100% !important;
}
.select2-container--material ::placeholder {
  color: inherit;
}
.select2-container--material .select2-selection {
  /* @extend input */
  overflow: visible;
  font: inherit;
  touch-action: manipulation;
  margin: 0;
  line-height: inherit;
  border-radius: 0;
  box-sizing: inherit;
  /* @extend .form-control */
  display: block;
  width: 100%;
  color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  padding: 0.2rem 0 0.6rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  /* @extend input[type=text] */
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  outline: 0;
  width: 100%;
  font-size: 1rem;
  box-shadow: none;
  transition: all 0.3s;
  min-height: 2.1rem;
}
.select2-container--material .select2-selection .select2-selection__rendered {
  padding-right: 0;
}
.select2-container--material .select2-selection--single .select2-selection__rendered {
  float: right;
}
.select2-container--material .select2-selection--single .select2-selection__arrow {
  float: left;
}
.select2-container--material .select2-selection--multiple {
  /**
   * Multiple selected options
   */
  /**
   * Multiple selected option clear button
   */
}
.select2-container--material .select2-selection--multiple .select2-selection__rendered {
  width: 100%;
}
.select2-container--material .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}
.select2-container--material .select2-selection--multiple .select2-selection__choice {
  /* @extend .mdl-chip */
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  border: 0;
  border-radius: 16px;
  background-color: #dedede;
  display: inline-block;
  color: rgba(0, 0, 0, .87);
  margin: 2px 0;
  font-size: 0;
  white-space: nowrap;
  /* @extend .mdl-chip__text */
  font-size: 13px;
  vertical-align: middle;
  display: inline-block;
  float: left;
  margin-right: 8px;
  margin-bottom: 4px;
}
.select2-container--material .select2-selection--multiple .select2-selection__choice__remove {
  /* Hide default content */
  font-size: 0;
  opacity: 0.38;
  cursor: pointer;
  float: right;
  margin-top: 4px;
  margin-right: -6px;
  margin-left: 6px;
  transition: opacity;
}
.select2-container--material .select2-selection--multiple .select2-selection__choice__remove::before {
  content: "cancel";
  /* @extend .material-icons */
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: #000;
}
.select2-container--material .select2-selection--multiple .select2-selection__choice__remove:hover {
  opacity: 0.54;
}
.select2-container--material .select2-search--inline .select2-search__field {
  width: 100%;
  margin-top: 0;
  /* Match input[type=text] */
  height: 34px;
  line-height: 1;
}
.select2-container--material .select2-dropdown {
  border: 0;
}
.select2-container--material .select2-dropdown .select2-search__field {
  min-height: 2.1rem;
  margin-bottom: 16px;
  border: 0;
  border-bottom: 1px solid #ccc;
  transition: all 0.3s;
  text-align: right;
}
.select2-container--material .select2-dropdown .select2-search__field:focus {
  border-bottom: 1px solid #4285f4;
  box-shadow: 0 1px 0 0 #4585f4;
}
.select2-container--material .select2-results__options {
  /* @extend .zf-shadow-depth* */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  /* @extend .dropdown-content */
  background-color: #fff;
  margin: 0;
  min-width: 100px;
  max-height: 650px;
  overflow-y: auto;
  z-index: 999;
  will-change: width, height;
  /* @extend .dropdown-content inline styles */
}
.select2-container--material .select2-results__option {
  /* @extend .dropdown-content li */
  cursor: pointer;
  clear: both;
  color: rgba(0, 0, 0, .87);
  line-height: 1.5rem;
  text-align: right;
  direction: rtl;
  text-transform: none;
  /* @extend .dropdown-content li>a, .dropdown-content li>span */
  font-size: 1.2rem;
  display: block;
  padding: 1rem;
  /**
   * Disabled options
   */
  /**
   * Selected option
   */
  /**
   * Active/hovered option
   */
}
.select2-container--material .select2-results__option[aria-disabled=true] {
  /* @extend .select-dropdown li.disabled */
  color: rgba(0, 0, 0, .3);
  background-color: transparent !important;
  cursor: context-menu;
  /* @extend .disabled */
  cursor: not-allowed;
}
.select2-container--material .select2-results__option[aria-selected=true] {
  /* @extend .dropdown-content li:active, .dropdow-content li:hover */
  color: #4285f4;
  background-color: #eee;
}
.select2-container--material .select2-results__option--highlighted[aria-selected] {
  background-color: #ddd;
}
.select2-container--material.select2-container--focus {
  /* @extend input[type=text]:focus */
}
.select2-container--material.select2-container--focus .select2-selection {
  border-bottom: 1px solid #4285f4;
  box-shadow: 0 1px 0 0 #4585f4;
}
.select2-container--material.select2-container--disabled {
  /* @extend .select-wrapper input.select-dropdown:disabled */
}
.select2-container--material.select2-container--disabled .select2-selection {
  color: rgba(0, 0, 0, .3);
  cursor: default;
  user-select: none;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}
.select2-container--material.select2-container--disabled.select2-container--focus .select2-selection {
  box-shadow: none;
}
